<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cy.dao.SysDeptDao">
    <select id="findSysDeptList" resultType="map">
        select td1.*,td2.name
        from sys_depts td1 left join sys_depts td2 on td1.parentId = td2.id
    </select>

    <delete id="deleteSysDeptById">
        delete from sys_depts where id = #{id}
    </delete>

    <select id="findDeptById" resultType="com.cy.entity.SystemDept">
        select * from sys_depts where id = #{id}
    </select>

    <select id="findNodeList0SysDept" resultType="com.cy.vo.Node">
        select  id,name,parentId from sys_depts
    </select>

    <insert id="saveSysDept">
        insert into sys_depts
        (name,parentId,sort,note,createdTime,modifiedTime,createdUser,modifiedUser)
        values (#{name},#{parentId},#{sort},#{note},now(),now(),#{createdUser},#{modifiedUser})
    </insert>

    <update id="updateSysDept">
        update sys_depts set
        name = #{name},
        parentId = #{parentId},
        sort = #{sort},
        note = #{note},
        modifiedTime = now(),
        createdUser = #{createdUser},
        modifiedUser = #{modifiedUser}
        where id = #{id}
    </update>

    <select id="findChildDept" resultType="com.cy.entity.SystemDept">
        select * from sys_depts where parentId = #{id}
    </select>
</mapper>